- @page_title = "Sign Up"
.card.mx-auto.my-5{:style => "width: 30rem"}
  %h2.card-title.mt-4.ml-2
    Edit #{resource_name.to_s.humanize}
  .card-body
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = devise_error_messages!
      .form-group
        = f.label :name
        %br/
        = f.text_field :name, autofocus: true, class: 'form-control'
      .form-group
        = f.label :email
        = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      .form-group
        = f.label :password
        %i (leave blank if you don't want to change it)
        %br/
        = f.password_field :password, autocomplete: "off", class: 'form-control', data:{toggle: "tooltip", placement: "top"}, title: "#{@minimum_password_length} characters minimum"
      .form-group
        = f.label :password_confirmation
        = f.email_field :password_confirmation, autocomplete: "off", class: 'form-control'
      .form-group
        = f.label :current_password
        = f.password_field :current_password, autocomplete: "off", class: 'form-control', data: {toggle: "tooltip", placement: "top"}, title: "We need your current password to confirm your changes"
      .form-group
        = f.submit "Update", class: 'btn btn-primary btn-lg btn-block'
    = link_to "Back", :back, class: 'nav-link'