<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "Report Manager", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <%= link_to "Home", root_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to "About", home_about_path, class: 'nav-link' %>
      </li>
      <% if logged_in?(:site_admin) %>
        <li class="nav-item">
          <%= link_to "Manage Users", admin_index_path, class: "nav-link" %>
        </li>
      <% end %>
      <% if logged_in?(:site_admin, :doctors) %>
        <li class="nav-item">
          <%= link_to "Manage Reports", root_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
    <ul class="navbar-nav ml-auto">
      <%= login_helper 'nav-link' %>
    </ul>
  </div>
</nav>