- @page_title = "Edit Report"
.card.mx-auto.my-5{:style => "width: 30rem"}
  %h2.card-title.mt-4.ml-2 New Report
  .card-body
    = form_for @report, html: { multipart: true } do |f|
      .form-group
        = f.label :name
        %br/
        = f.text_field :name, autofocus: true, class: 'form-control'
      .form-group
        %label.btn.btn-primary
          Upload your pdf file #{f.file_field :content, style: 'display:none;'}
      .form-group
        = f.submit "Update", class: 'btn btn-primary btn-lg btn-block'