<% @page_title = "Reports" %>
<h2>Index</h2>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Approved</th>
      <th scope="col"> Date Created</th>
      <th scope ="col">Assigned To</th></th>
      <th scope = "col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <th scope="row"><%= report.id %></th>
        <td><%= report.name %></td>
        <td>
          <% if report.approved %>
            Approved
          <% else %>
            Not Approved Yet
          <% end %>
        </td>
        <td><%= report.created_at.strftime("%B %d, %Y") %></td>
        <td>
          <%if report.user %>
            <%= report.user %>
          <% else %>
            Not assigned to anyone yet
          <% end %>
        </td>
        <td>
          <%= link_to "Details", report_path(report), class: 'btn btn-outline-secondary'%>
          <% unless current_user.has_roles?(:site_admin) %>
            <%= link_to "Delete", report_path(report), method: :delete, class: 'btn btn-outline-danger', data: {confirm: "Are you sure you want to delete #{report.name}?"} %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>