!!!
%html
  %body
    %p
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= @page_title
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    %section.section
      - if notice
        .alert.alert-info{:role => "alert"}
          = notice
      - elsif alert
        .alert.alert-danger{:role => "alert"}
          = alert
      .container.card-container
        = yield
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'